.header-c {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .header-c .breadcrumb-container ul {
    display: none;
  }
  .header-c nav {
    padding-right: 0px;
    padding-left: 0px;
  }

  .header-c nav #button {
    display: none;
  }

  .header-c nav .logo-container span {
    display: none;
  }
}
