* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-cart-c {
  padding-left: 90px;
  padding-right: 90px;
}

.spancing-right {
  margin-right: 24px;
}

.flex {
  display: flex;
}

.header-c {
  margin-bottom: 64px;
}
 

.error {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.38;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  height: 200px;
}

