* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-cart-c {
  padding-left: 90px;
  padding-right: 90px;
}

.spancing-right {
  margin-right: 24px;
}

.flex {
  display: flex;
}

.header-c {
  margin-bottom: 64px;
}
 
