* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-cart-c {
 padding-left: 50px; 
 padding-right: 50px; 
}
 
.spancing-right {
  margin-right: 24px;
}

.flex {
 display: flex; 
}  

.header-c {
  margin-bottom: 64px;
} 

@media (max-width: 768px) {
  .spancing-right {
    margin-right: 0px;
  }
}

